@{
    Layout = null;
    ViewBag.Title = "Add";
}


<div class="page-content">
    <div class="addUrl" >
        <div class="video-bl" id="writing_console">
            <div class="upload-video">
                <h5>Load Video</h5>
                <hr>
                <div class="youtube-address">
                    <h3>Upload Video file. </h3>
                    <h6 ng-show="errorLoading" style="margin-left: 24px; color: darkred;">Invalid URL.</h6>
                    <form class="upload-form">
                        <input type="text" placeholder="#############" class="upload-form" ng-model="youtubelink" />
                        <button ngf-select="uploadFiles($file, $invalidFiles)" class="btn btn-warning load-btn" accept="video/*" ngf-max-height="1000" >Select File</button>
                        <div class="clear"></div>
                    </form>
                    {{errorMsg}}
                </div>
            </div>
        </div>
    </div>    
</div>