@{
    Layout = null;
    ViewBag.Title = "Add";
}


<div class="page-content" ng-init="uploadFiles()">
    <div>
        <div class="translate-bl" id="writing_console">
            <div class="upload-video">
                <div style="width: 631px; margin-left: 123px; height: 360px;">
                    <videogular vg-theme="config.theme" data-vg-player-ready="onPlayerReady($API)" vg-update-state="stateChange($state)">
                        <vg-media vg-src="config.sources"
                                  vg-tracks="config.tracks">
                        </vg-media>
                        <vg-overlay-play></vg-overlay-play>
                        <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                    </videogular>
                </div>
            </div>
        </div>
        <div class="create-part">
            <div class="part-controller" ng-hide="editFlag">

                <input class="start-part" type="text" placeholder="0.0" value="0" ng-model="startTime" disabled style="background:gray;">
                <span class="separator">-</span>
                <input id="manualPlayerTime" ng-hide="playButtonStatus" class="finish-part" type="text" placeholder="0.0" value="" ng-model="endTime">
                <span style="margin-left: 24px; color: red;">{{editErrors}}</span>
                <div class="clear"></div>

                <div class="control-box" style="float: left;">
                    <button ng-click="rePlayVideo();" class="org-stretch-btn">Re-Play</button>
                    <button ng-click="pauseVideo();" class="org-stretch-btn">Pause</button>
                    <button ng-click="playVideo();" class="org-stretch-btn">Play</button>
                </div>

                <div class="part-translate" ng-hide="editFlag" style="margin-top: 54px;">
                    <textarea ng-blur="getGoogleTranslatePhrase(phrase)" cols="30" rows="10" placeholder="English phrase" ng-model="phrase" class="ng-pristine ng-valid"></textarea>
                    <textarea cols="30" rows="10" placeholder="Traducere in romana" ng-model="phraseTranslated" class="ng-pristine ng-valid"></textarea>
                    <button type="submit" class="org-stretch-btn part-translate-btn" ng-click="addPart();">+</button>
                </div>
                <div style="margin-top: 75px;">
                    <button class="org-stretch-btn" style="margin-top: 0px; height: 33px;" ng-click="save();">Save</button>
                </div>
            </div>
        </div>
        <div class="history">
            <ul class="phrases" style="padding-left: 0px;">
                <li ng-repeat="item in parts|orderBy : orderNumber : true track by $index ">
                    <div style="padding-top: 0px;">
                        <div style="float: left;">
                            <em class="number" style="padding-top: 0px !important; padding-left: 0px !important;">{{item.orderNumber}}</em>
                            <div class="part-time">
                                <p class="finish-part ng-binding">{{item.endTime}}</p>
                                <p class="start-part ng-binding">{{item.startTime}}</p>
                            </div>
                        </div>
                        <div>
                            <p class="phrase-eng">{{item.phrase}}</p>
                            <div style="width: 650px;padding-top: 0px;margin-left: 0px;margin-right: 0px;">
                                <p class="phrase-translated">{{item.phraseTranslated}}</p>
                                <span class="google-translate" style="font-size: .8em;" ng-if="item.translatedByGoogle">(Translated by Google Translate)</span>
                            </div>
                        </div>
                    </div>
                    <hr style="width: 90%;margin-left: 0px; margin-bottom: 0px;">
                </li>
            </ul>
        </div>
    </div>



</div>