
@{
    ViewBag.Title = "Listening";
}

<div div="page-content"  ng-init ="init()">
    <div class="video_title">
        <h3 style="color : #fff;">
            {{video.title}}
        </h3>
    </div>

    <div class="video_general">
        <div class="row" style="padding-bottom: 28px;">
            <div class="videogularPlayer col-lg-7" ng-click="playVideo()" ng-if="loadVideo == true">
                <videogular vg-theme="config.theme" data-vg-player-ready="onPlayerReady($API)" vg-update-state="stateChange($state)">
                    <vg-media vg-src="config.sources"
                              vg-tracks="config.tracks">
                    </vg-media>
                    <vg-overlay-play></vg-overlay-play>
                    <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                </videogular>
                @*<youtube-video player-width="'460'" player-height="'300px'" video-url="video.url" ng-click="playVideo();" player-vars="playerVars" player="youtubePlayer2"></youtube-video>*@
            </div>
            <div class="book col-lg-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}"
                         aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
                        <span class="sr-only">{{progress}}% Complete</span>
                    </div>
                </div>
                <h2 class="passed-count">{{passed + 1}}/{{phrasesNumber}}</h2>
                <div style="margin-top: 90px;" ng-show="endTyping">
                    <h4 class="translate-phrase">{{scoredMessage}}</h4>
                    <div class="clear" style="padding-bottom: 20px;"></div>
                    <span>{{efficiency}}</span>
                </div>
            </div>
        </div>
        <div class="type">
            <div class="words">
                <div ng-repeat="item in typedWords track by $index" bind-once>{{item}}</div>
                <input ng-model="typingWord"
                       ng-style='{color: generateColor()}'
                       ng-disabled="currentPhrase.phrase == ''"
                       ng-trim="false"
                       type="text"
                       placeholder="{{placeholder}}"
                       size="30"
                       style="width: 150px;"
                       class="input-type"
                       ng-keyup="typing($event.keyCode)" />
            </div>
            <button class="btn btn-primary hint-button" ng-disabled="currentPhrase.phrase == ''" ng-click="hint()">Hint</button>
        </div>
    </div>



    <div class="history">
        <ul class="phrases">
            <li ng-repeat="item in history|orderBy : orderNumber : true track by $index ">
                <em class="number">{{item.orderNumber}}</em>
                <div>
                    <p class="phrase-eng">{{item.phrase}}</p>
                    <div style="width: 650px;padding-top: 0px;margin-left: 0px;margin-right: 0px;">
                        <p class="phrase-translated">{{item.phraseTranslated == "" ? "Not Translated" : item.phraseTranslated}}</p>
                        <span class="google-translate" style="font-size: .8em;" ng-if="item.translatedByGoogle">(Translated by Google Translate)</span>
                    </div>
                </div>
                <hr style="width: 793px;margin-left: 0px; margin-bottom: 0px;">
            </li>
        </ul>
    </div>
</div>

<script>
    $('.type').click(function () {
        $(".input-type").focus();
    });

</script>

